{% extends 'base.html' %}

{% block main %}
<script>
var sentenceEn = {{ sentence.1|tojson }};
var nextIdx = {{ idx }} + 1;
var timerId;
var enShowed = false;
window.onload = function() {
    timerId = setTimeout(function() {
        document.getElementById('en').textContent = sentenceEn;
	enShowed = true;
        timerId = setTimeout(function() {
            window.location.href = './' + nextIdx;
        }, 7000)
    }, 10000);
}

function stopTimer() {
    clearTimeout(timerId);
    stopTimerButton = document.getElementById('stopTimerButton');
    if (enShowed) {
        stopTimerButton.textContent = "Next";
        stopTimerButton.onclick = nextSentence;
    } else {
        stopTimerButton.textContent = "Show";
        stopTimerButton.onclick = showEnglishSentence;
    }
}

function showEnglishSentence() {
    document.getElementById('en').textContent = sentenceEn;
    stopTimerButton.textContent = "Next";
    stopTimerButton.onclick = nextSentence;
}

function nextSentence() {
    window.location.href = './' + nextIdx;
}
</script>

<div class="col text-center m-3 p-3">
<p>{{ idx }} / {{ total }}</p>
<p>{{ sentence.2 }} - {{ sentence.3}}</p>
<p>{{ sentence.0 }}</p>
<p class="text-success fs-5"><span id='en'></span></p>
<button id="stopTimerButton" type="button" class="btn btn-secondary" onClick="stopTimer()">
    <i id="pauseButtonIcon" class="bi bi-pause-fill"></i> Pause</button>
<button id="flash_speaking_menu" type="button" class="btn btn-secondary" onClick="location.href='{{ url_for('flash_speaking')}}'">Menu</div>
</div>


{% endblock %}
