{% extends 'base.html' %}

{% block main %}
<script>
var sentenceJP = {{ sentence.1|tojson }};
var nextIdx = {{ idx }} + 1;
var timerId;
window.onload = function() {
    timerId = setTimeout(function() {
        document.getElementById('jp').textContent = sentenceJP;
        timerId = setTimeout(function() {
            window.location.href = './' + nextIdx;
        }, 5000)
    }, 7000);
}

function stopTimer() {
    clearTimeout(timerId);
    stopTimerButton = document.getElementById('stopTimerButton')
    stopTimerButton.textContent = "Next";
    stopTimerButton.onclick = nextSentence;
}

function nextSentence() {
    window.location.href = './' + nextIdx;
}
</script>

<div class="col text-center m-3 p-3">
<p>{{ idx }} / {{ total }}</p>
<p>{{ sentence.2 }} - {{ sentence.3}}</p>
<p>{{ sentence.0 }}</p>
<p><span id='jp'></span></p>
<button id="stopTimerButton" type="button" class="btn btn-secondary" onClick="stopTimer()">
    <i id="pauseButtonIcon" class="bi bi-pause-fill"></i> Pause</button>
</div>

{% endblock %}
